
/* index.html */
/* ========== */

h2 {
	font-size: 2vw;
	margin-top: 1vw;
	margin-bottom: 1vw;
	text-align: center;
}

#id_container {
	display: flex;
	justify-content: space-around;
}

.perso {
	width: 16vw;
}

.div_avatar {
	display: flex;
	justify-content: center;
}

.avatar {
	height: 8vw;
}

.player_cards {
	display: flex;
	justify-content: space-between;
	margin-top: 1vw;
}

.div_card {
	width: 7vw;
	height: 10.185vw; /* 323/222*width  */
}

.card {
	width: 100%;
	border-style: solid;
	border-width: 0.1vw;
	border-radius: 0.6vw;
	position: relative;
	box-sizing: border-box;
}

.perso_message {
	margin-top: 1vw;
	border-radius: 0.6vw;
	visibility: hidden;
}

#id_text_hero {
	background-color: #5cb85c;
}

#id_text_vilain {
	background-color: #d9534f;
}

.btn_play {
	font-size: 1vw;
	width: 7vw;
	height: 7vw;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	/* border: 2px solid grey; */
	border-style: none;
	box-shadow: 0.5vw 0.5vw 0.25vw grey;
	background-color: transparent;
}

.btn_play:active {
  /* box-shadow: 0 5px #666; */
  box-shadow: 0.25vw 0.25vw 0.25vw #666;
  transform: translateY(0.25vw);
}

#id_message {
	visibility: hidden;
	padding: 1vw;
	border-radius: 0.6vw;
	background-color: #5cb85c;
}

p {
	text-align: center;
	margin: 0;
	font-size: 1.5vw;
}

.div_btns {
	display: flex;
	justify-content: center;
	padding-top: 1vw;
}

.btns {
	padding: 1vw;
	margin: 0 2vw;
	width: 10vw;
	font-size: 1vw;
	border-radius: 1vw;
}

.table {
	display: flex;
	justify-content: center;
	/* margin-top: 1vw; */
}

.cards {
	display: flex;
	justify-content: space-between;
	/* margin-top: 2vw; */
	width: 40vw;
}

/* ============================================================================ */


/* reward.html */
/* =========== */

#id_form {
	display: flex;
	flex-direction: column;
	margin-top: 2vw;
	visibility: hidden;
}

.div_input {
	display: flex;
	justify-content: center;
	padding: 2vw;
}

.input {
	margin: 0 2vw;
	padding: 0.5vw;
	font-size: 1vw;
	border-radius: 0.5vw;
}

/* ============================================================================ */

.highlight {
	box-shadow: 1vw 1vw 0.5vw grey;
	transform: translateY(-1vw);
}